table,
td {
    border: 1px solid #333;
    text-align: center;
    vertical-align: middle;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

th {
    text-align: center;
    vertical-align: middle;
}
