html,
head{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(225,225,225);

}

h1{
	position: absolute;
	top: 10px;
	text-align:center;
}

nav{
	position: absolute;
	text-align:center;
}

body {
    width: 100%;
	margin:  0 auto;
	background-image: -moz-linear-gradient( 136deg, rgb(0,0,70) 0%, rgb(28,181,224) 100%);
    background-image: -webkit-linear-gradient( 136deg, rgb(0,0,70) 0%, rgb(28,181,224) 100%);
    background-image: -ms-linear-gradient( 136deg, rgb(0,0,70) 0%, rgb(28,181,224) 100%);
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
	display: flex;
}

.container {
	background: #fff;
	width: 600px;
	border-radius: 0px;
	-o-border-radius: 0px;
	-ms-border-radius: 0px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 180px 0;
	font-family: 'Nunito', sans-serif;
	color: black;
	font-weight: 700;
	position: relative;
	display: flex;
	
}

#myTable_filter{
	margin: 5px ;
}

#myTable_length{
	margin: 5px;
}

#myTable_wrapper{
	margin: 5px 0;
}

#myTable{
	position: relative;
}

th,
thead{ 
	background-color: rgba(28, 97, 224, 0.479);
}

td {
	padding: 15px;
	background-color: rgba(0, 0, 70, 0.116);
	color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform : capitalize;
}


#EnergiePokemon {
	display:none;
}

#myTable_info{
	font-size: small;
	margin: 5px;
}






