html,
head{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: rgb(225,225,225);

}

.navigation{
	position:static;	

}

h1{
	position: absolute;
	top: 10px;
	text-align:center;
	
}

#myTable_filter{
	margin: 10px ;
}

#myTable_length{
	margin: 10px;
}

#myTable_wrapper{
	margin: 5px 0;
}

#myTable{
	margin: 10px;
	margin-left: 80px;
	position: relative;
}

th,
thead{ 
	background-color: rgba(28, 97, 224, 0.479);
}

td {
	padding: 15px;
	background-color: rgba(0, 0, 70, 0.116);
	color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform : capitalize;
}


#EnergiePokemon {
	display:none;
}

#myTable_info{
	font-size: small;
	margin: 5px;
}





